name: Trivy Scan - HTML Report

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  trivy-html:
    name: Gerar relatório HTML
    runs-on: ubuntu-latest
    
    steps:
      - name: Baixar código
        uses: actions/checkout@v4
      
      - name: Executar Trivy (HTML)
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'config'
          scan-ref: '.'
          format: 'html'
          output: 'trivy-report.html'
          severity: 'CRITICAL,HIGH,MEDIUM,LOW'
      
      - name: Upload do relatório HTML
        uses: actions/upload-artifact@v4
        with:
          name: trivy-html-report
          path: trivy-report.html
