name: Trivy Security Scan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  security-events: write  # Necessário para enviar para aba Security

jobs:
  trivy-scan:
    name: Scan Terraform com Trivy
    runs-on: ubuntu-latest
    
    steps:
      - name: Baixar código do repositório
        uses: actions/checkout@v4
      
      - name: Executar Trivy (formato SARIF)
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'config'
          scan-ref: '.'
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH,MEDIUM'
      
      - name: Enviar resultados para GitHub Security
        uses: github/codeql-action/upload-sarif@v4
        if: always()
        with:
          sarif_file: 'trivy-results.sarif'
      
      - name: Mostrar resumo no terminal também
        uses: aquasecurity/trivy-action@master
        if: always()
        with:
          scan-type: 'config'
          scan-ref: '.'
          format: 'table'
          severity: 'CRITICAL,HIGH'
